body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: var(--text);
  line-height: 1.6;
  background-color: #ebd8ad;
  margin:0 auto;
  max-width: 80%;
  padding-top: 60px;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* We want the headings to be a little bigger than the paragraph text */
.big { 
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
  background-color: var(--bg-main);
  border-radius: 10px;
}

/* Links */
a {
  color: var(--a);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--a-hover);
}
  
/* Images */
img {
  width: 600px;
  height: 400px;
}

/* Box */
.box {
  background-color: var(--bg-box);

  display:inline-block;
  justify-content: center;
  
  border-radius: 10px;
  
  padding: 5px;
  margin:5px;

  display: none;
}

.box:target{
  display: block;
}

/* Graphs after expand*/
.graph {
  background-color: #f1f0f0;
  border-radius: 10px;
  padding: 2px;
  margin: 2px;

  height: 400px;
  width: 600px;
  align-items: center;
  justify-content: center;
}

/*Expand Button*/
.expandButton{
  background-color: var(--bg-exBut);

  display:inline-block;
  justify-content: center;
  
  border-radius: 10px;
  
  padding: 5px;
  margin:5px;

  width: auto;
  height: auto;
}

.expandButton:hover {
  background-color: var(--bg-exBut-hover);
  transform: scale(105%);
}

.figButton {
  background-color: #f1f0f0;
  border-radius: 10px;
  padding: 2px;
  margin: 2px;

  height: 360px;
  width: 340px;
  align-items: center;
  justify-content: center;
}

/*collaspeButton*/
.collaspeButton{
  background-color: var(--bg-colBut);
  justify-content: center;
  
  border-radius: 8px;
  
  padding: 5px;
  margin:5px;
  box-shadow: #333;
}

.collaspeButton:active{
  transform: translateY(4px);
  background-color: var(--bg-colBut-press);
}

/*Show button*/
.showButton{
  background-color: #CCDAD1;

  display:inline-block;
  justify-content: center;
  
  border-radius: 10px;
  
  padding: 5px;
  margin:5px;
}

.showButton:hover{
  transform: translateY(-4px);
}

/*color theme*/
.colorTop{
  --bg-main: #F4ECD6;
  --text:#333;
  --a:#4b5451;
  --a-hover:#283845;
}

.colorCC{
  --bg-main: #F4ECD6;
  --text:#333;
  --a:#065f46;
  --a-hover:rgb(48, 3, 132);
  --bg-box:#B8B08D;
  --bg-graph:#f1f0f0;
  --bg-exBut:#B8B08D;
  --bg-exBut-hover:#a19a7d;
  --bg-colBut:#c5d9d9;
  --bg-colBut-press:#92a2a2;
} 

.colorProj{
  --bg-main: #F4ECD6;
  --text:#333;
}